<header role="navigation">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/tasks">Tasks</a></li>
    <li role="presentation"><a href="/tasks/new">New Task</a></li>
    <li role="presentation" class="active"><a href="/tasks/:id/edit">Edit Task</a></li>
  </ul>
</header>
<div class="container">
  <h2>Edit Task Form</h2>

  <div class="text_box">
    <p>Edit your task:</p>
    <form action="/tasks/<%= @task.id %>" method="post">
      <input type="hidden" name="_method" value="put">
      <p>Title: </p><input type='text' name='task[title]' value="<%= @task.title %>"/><br/>
      <p>Task: </p><textarea class="form-control" rows="3" name='task[description]'><%= @task.description %></textarea><br/>
      <input type='submit'/>
    </form>
  </div>
  <p><a href='/'>Home</a></p>
</div>
